.banner{
  background-color:#324658;
  &__title{
    padding-top:70px ;
    font-size:19px;
    color:#fff;
    text-align: center;
  }
  img{
    display:block;
    width:50%;
    margin:40px auto 0;
  }
}
