@charset "UTF-8";
//mixin用
@use '../foundation/mixin' as m;


.conversionButtonBg{
  width:100%;
  background: rgb(46,182,197);
  background: linear-gradient(270deg, rgba(46,182,197,1) 0%, rgba(58,97,189,1) 100%);
  text-align: center; 
  @include m.pc{
    max-width:673px;
  }
}
.conversionButton{
  padding: 28px 0;
  position:relative;
  display:inline-block;
  color:white;
  @include m.pc{
    padding: 60px 0;
    font-size:28px ;
  }
}
.conversion__microtext{
  font-size: 10px;
  color:#001429;
  margin-top:4px;
  @include m.pc{
    font-size: 14px;
  }
}
.conversionButton::before{
  content:"";
  position:absolute;
  width:30px; 
  height:8px;
  top:45%;
  right:0px;
  transform: translateX(150%);
  background-image: url('../../assets/img/arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  // アニメーション
  transition: all 0.3s ease-in-out;
  @include m.pc{
    width:60px;
    height:16px;
  }
}
.conversionButton:hover::before{
  right:-8px;
}
