@charset "UTF-8";
//mixin用
@use '../foundation/mixin' as m;

.conversionButton{
  position:relative;
  display:block;
  text-align: center;
  width:100%;
  padding:28px;
  color:white;
  background: rgb(46,182,197);
  background: linear-gradient(270deg, rgba(46,182,197,1) 0%, rgba(58,97,189,1) 100%);
  @include m.pc{
    max-width:673px;
    padding:62px;
    font-size:28px ;
  }
}
.conversion__microtext{
  font-size: 10px;
  color:#001429;
  margin-top:4px;
  @include m.pc{
    font-size: 14px;
  }
}
.conversionButton::before{
  content:"";
  position:absolute;
  width:40px;
  height:2px;
  top:55%;
  right:8%;
  background-color: #fff;
}
.conversionButton::after{
  content:"";
  position:absolute;
  width:14px;
  height:2px;
  top:51.5%;
  transform:rotate(35deg);
  right:8%;
  background-color: #fff;
}
