//mixin用
@use '../foundation/mixin' as m;

@use "../foundation/various" as v;
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

.contact {
	font-family: v.$base_font;
	color: v.$base_color;
	background-color: #324658;
	&__lead {
		font-weight: 700;
		 span {
			background-color: #FFF;
			padding: 8px 16px;
			display: inline-block;
			margin-bottom: 8px;
		 }
	}
	&__card {
		padding: 16px;
	}
	ul li h3:nth-of-type(-n+3) {
		display: flex;
		justify-content: right;
	}
	ul li h3:nth-of-type(n+4) {
		display: flex;
		justify-content: left;
	}
	&__list {
		&--title {
			font-weight: 600;
			color: #FFF;
			font-size: 24px;
			line-height: 32px;
		}
		&--1 {
			position: relative;
			&::before {
				content:url(../../assets/svg/contact1.svg);
				position: absolute;
				display: block;
				top: 0;
				left: 0;
			}
		}
		&--2 {
			position: relative;
			&::before {
				content:url(../../assets/svg/contact2.svg);
				position: absolute;
				display: block;
				top: 0;
				left: 0;
			}
		}
		&--3 {
			position: relative;
			&::before {
				content:url(../../assets/svg/contact3.svg);
				position: absolute;
				display: block;
				top: 0;
				left: 0;
			}
		}
		&--4 {
			position: relative;
			&::before {
				content:url(../../assets/svg/contact4.svg);
				position: absolute;
				display: block;
				top: 0;
				right: 0;
			}
		}
		&--5 {
			position: relative;
			&::before {
				content:url(../../assets/svg/contact5.svg);
				position: absolute;
				display: block;
				top: 0;
				right: 0;
			}
		}
		&--6 {
			position: relative;
			&::before {
				content:url(../../assets/svg/contact6.svg);
				position: absolute;
				display: block;
				top: 0;
				right: 0;
			}
		}
		&--text {
			color: #FFF;
			line-height: 24px;
			font-weight: 500;
			position: relative;
			padding: 24px;
			&::before {
				content: "";
				width: 56px;
				height:120px;
				position: absolute;
				border-left: solid 5px #FFF;
				border-top: solid 5px #FFF;
				border-image: linear-gradient(50deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image: -webkit-linear-gradient(40deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image-slice: 1;
				top: 0;
				left: 0;
			}
			&::after {
				content: "";
				width: 56px;
				height:120px;
				position: absolute;
				border-right: solid 5px #FFF;
				border-bottom: solid 5px #FFF;
				border-image: linear-gradient(50deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image: -webkit-linear-gradient(40deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image-slice: 1;
				bottom: 0;
				right: 0;
			}
		}
	}
	
}
