@charset "UTF-8";
//mixin用
@use '../foundation/mixin' as m;

.conversion{
  background-color: #EDEDED;
  @include m.pc{
    overflow: hidden;
  }
  &__inner{
    display:flex;
    flex-direction: column;
    @include m.pc{
      flex-direction: row-reverse;
    }
  }
  &__imageWrap{
    margin-top: 96px;
    order:1;
    @include m.pc{
      margin-top: 208px;
      width:55%;
    }
  }
  &__image{
    display:block;
    width:100%;
    @include m.pc{
      max-height:698px;
      object-fit: cover;
    }
  }
  &__whiteBox{
    order:2;
    background-color: #fff;
    margin:0 4.2%;
    padding:28px;
    margin-bottom: 80px;
    transform: translateY(-35px);
    @include m.pc{
      margin: 0;
      margin-right:-100px;
      margin-top: 400px;
      margin-bottom: 146px;
      position:relative;
      width:1000px;
      height:600px;
      transform: translateY(0px);
    }

    //縦並びの指定
    display:flex;
    flex-direction: column;
  }
  &__textWrap{
    order:2;
    @include m.pc{
      transform:translateY(-120px);
    }
  }
  &__title{
    font-size: 20px;
    font-weight: 700;
    color:#001429;
    text-align: center;
    margin-top: 16px;
    margin-bottom:24px ;
    @include m.pc{
      font-size: 32px;
	  line-height: 1.4;
    }
  }
  &__text{
    font-size: 15px;
    color:#001429;
    line-height: 1.6;
    @include m.pc{
      font-size: 16px;
      padding:0 23%;
      box-sizing: border-box;
    }
  }
  &__text:not(:nth-of-type(1)){
    margin-top: 16px;
  }
  &__buttonWrap{
    order:3;
    margin-top: 56px;
    @include m.pc{
      margin: 0;
      transform:translate(50%,-30%)
    }
  }

  &__logoWrap{
    order:1;
  }
  &__logo{
    width:57.6%;
    display:block;
    margin:0 auto;
    @include m.pc{
      max-width:416px;
      transform:translateY(-120px);
    }
  }
}
