//mixin用
@use '../foundation/mixin' as m;

@use "../foundation/various" as v;
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

.contact {
	font-family: v.$base_font;
	color: v.$base_color;
	background-color: #324658;
	position: relative;
	//.layout1,
	//.layout2,
	//.layout3,
	//.layout4,
	//.layout5 {
	//	padding: 80px 16px;
	//}
	.layout1 {
		padding-top: 56px;
		@include m.pc {
			padding: 56px 18.75% 0 18.75%;
		}
	}
	.layout2 {
		padding-top: 88px;
		@include m.pc {
			display: flex;
			padding-left: 18.75%;
		}
	}
	.layout3 {
		margin-top: -22px;
		position: relative;
		z-index: 2;
		@include m.pc {
			position: absolute;
			top: 450px;
			left: 840px;
		}
	}
	.layout4 {
		padding: 108px 32px 80px;
		@include m.pc {
			padding: 300px 18.75% 0 18.75%;
		}
	}
	&__img {
		position: relative;
		@include m.pc {
			display: flex;
			flex-wrap: wrap;
	}
		&--og, &--ash {
			padding-bottom: 8px;
			@include m.pc {
			width: 50%;
			}
		}
		&--og {
			img {
				@include m.pc {
				width: 440px;
				}
			}
		}
		&--ash {
			img {
				@include m.pc {
				position: absolute;
				top: 400px;
				left: 320px;
				width: 640px;
				}
			}
		}
		&--tw {
			text-align: right;
			padding-bottom: 8px;
			@include m.pc {
			width: 50%;
			}
			img {
				@include m.pc {
				width: 776px;
				}
			}
		}
	}
	&__lead {
		font-weight: 700;
		@include m.pc {
		font-size: 32px;
		}
		 span {
			background-color: #FFF;
			padding: 8px 24px;
			display: inline-block;
			margin-bottom: 8px;
			@include m.pc {
			padding: 20px 32px 20px 24px;
			}
		 }
	}
	&__flex {
		display: flex;
		justify-content: space-between;
		&--title {
			align-items: center;
			margin: auto 0;
		}
		&--number {
			margin-left: -24px;
		}
	}
	&__list1 {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		&--title {
			font-weight: 600;
			color: #FFF;
			font-size: 24px;
			line-height: 32px;
			text-align: right;
			padding-right: 24px;
		}
		&--text {
			color: #FFF;
			line-height: 24px;
			font-weight: 500;
			position: relative;
			padding: 24px 24px 48px;
			margin-top: -30px;
			&::before {
				content: "";
				display: inline-block;
				width: 56px;
				height:120px;
				position: absolute;
				border-left: solid 5px #FFF;
				border-top: solid 5px #FFF;
				border-image: linear-gradient(50deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image: -webkit-linear-gradient(40deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image-slice: 1;
				top: 0;
				left: 0;
			}
			&::after {
				content: "";
				width: 56px;
				height:120px;
				position: absolute;
				border-right: solid 5px #FFF;
				border-bottom: solid 5px #FFF;
				border-image: linear-gradient(50deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image: -webkit-linear-gradient(40deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image-slice: 1;
				bottom: 0;
				right: 0;
			}
		}
	}
	&__list2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		&--title {
			font-weight: 600;
			color: #FFF;
			font-size: 24px;
			line-height: 32px;
			text-align: right;
			padding-right: 24px;
		}
		&--text {
			color: #FFF;
			line-height: 24px;
			font-weight: 500;
			position: relative;
			padding: 24px 24px 48px;
			margin-top: -30px;
			&::before {
				content: "";
				display: inline-block;
				width: 56px;
				height:120px;
				position: absolute;
				border-left: solid 5px #FFF;
				border-top: solid 5px #FFF;
				border-image: linear-gradient(50deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image: -webkit-linear-gradient(40deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image-slice: 1;
				top: 0;
				left: 0;
			}
			&::after {
				content: "";
				width: 56px;
				height:120px;
				position: absolute;
				border-right: solid 5px #FFF;
				border-bottom: solid 5px #FFF;
				border-image: linear-gradient(50deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image: -webkit-linear-gradient(40deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				border-image-slice: 1;
				bottom: 0;
				right: 0;
			}
		}
	}
	&__card1 {
		max-width: 320px;
		@include m.pc {
			width: calc(96% / 3);
			margin: 0 auto 80px 0;
		}
	}
	&__card2 {
		max-width: 320px;
		@include m.pc {
			width: calc(96% / 3);
			margin: 0 0 80px auto;
		}
	}
	
}
