//mixin用
@use '../foundation/mixin' as m;

@use "../foundation/various" as v;
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');
@font-face {
	font-family: digitalNumber;
	src: url(../../assets/fonts/number_b.woff) format('woff');
}

.intro {
	font-family: v.$base_font;
	overflow: hidden;
	@include m.pc{
		.layout1,
		.layout4,
		.layout5 {
			padding: 80px 18.75%;
		}
	}
	.layout1 {
		padding: 0 0 122px;
		@include m.pc{
			padding-bottom: 168px;
		}
	}
	.layout2 {
		@include m.pc{
			padding-top: 28px;
		}
	}
	.layout3 {
		padding-bottom: 50px;
		padding-left: 16px;
		height: 146px;
		@include m.pc{
			padding: 0 18.75%;
			margin-bottom: 87px;
		}
	}
	.layout4 {
		padding: 42% 0 0 48px;
		margin-top: 35px;
		@include m.pc{
			padding: 20% 0 0 18.75%;
			margin: 0;
		}
	}
	.layout5 {
		padding-bottom: 80px;
		@include m.pc{
			margin-top: -114px;
			padding-top: 285px;
			padding-bottom: 120px;
		}
	}
	.layout8 {
		padding-left: 16px;
		transform: skewY(23deg);
		@include m.pc {
		transform: skewY(15deg);
		padding: 0 18.75% 8%;
		}
	}
	.layout9 {
		background-color: #FFF;
		height: 128px;
		transform: skewY(0deg);
	}
	.layout10 {
		position: relative;
		background-color: #324658;
		transform: skewY(-23deg);
		@include m.pc {
		transform: skewY(-15deg);
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: url(../../assets/img/dotBox_intro.png) no-repeat;
			transform: skewY(23deg);
			z-index: -1;
			@include m.pc {
			top: 430px;
			left: 1000px;
			transform: skewY(15deg);
			background: url(../../assets/img/dotBox_intro_ash_pc.png) no-repeat;
			}
		}

	}
  &__titleWrap{
    @include m.h2-titleWrap;
    @include m.pc{
      @include m.h2-titleWrap_pc;
    }
  }

  &__title{
    @include m.h2-title;
  }
  &__title::before{
    @include m.underbar_b;
    @include m.pc{
      @include m.underbar_b_pc;
    }
  }
	
	&__teacher {
		background-color: #f0f0f0;
		position: relative;
		z-index: 0;
	}
	&__name {
		font-family: 'Noto Serif JP', serif;
		font-weight: 500;
		font-size: 90px;
		color: #324658;
		height: 90px;
		position: absolute;
		top: -50px;
		@include m.pc{
			font-size: 130px;
		}
		&--en {
			position: relative;
			z-index: 1;
			font-family: v.$base_font;
			font-size: 100px;
			font-weight: 900;
			color: rgba(50, 69, 104, 0.1);
			overflow: hidden;
			padding:45px 0;
			margin-top: -30px;
		}
	}
	&__ash {
		position: relative;
		padding-top: 30px;
		@include m.pc{
			padding-top: 20px;
		}
		span:nth-of-type(1){color:#437BB2}
		span:nth-of-type(2){position: absolute; left: 90px; @include m.pc {left: 127px;}}
		span:nth-of-type(3){font-size: 48px; position: absolute; top: 17px; left: 180px; @include m.pc {font-size: 74px; top: 0; left: 261px;}}
	}
	&__ash--first {
		position: relative;
		&::before {
			content: "あっしー";
			position: absolute;
			font-family: v.$base_font;
			font-size: 20px;
			color: #437bb2;
			bottom: -48px;
			left: 5px;
			@include m.pc {
				font-size: 27px;
				bottom: -66px;
			}
		}
	}

	&__og {
		position: relative;
		padding-top: 20px;
		span:nth-of-type(1){color: #437bb2;}
		span:nth-of-type(2){position: absolute; left: 90px; @include m.pc {left: 127px;}}
		span:nth-of-type(3){font-size: 48px; position: absolute; top: 4px; left: 185px; @include m.pc {font-size: 74px; left: 261px;}}
	}
	&__og--first {
		position: relative;
		&::before {
			content: "おぎーの";
			position: absolute;
			font-family: v.$base_font;
			font-size: 20px;
			color: #437bb2;
			bottom: -51px;
			left: 1px;
			@include m.pc {
				font-size: 27px;
				bottom: -72px;
			}
		}
	}
	&__heading {
		align-items: center;
		@include m.pc{
		}
		&--ash {
			background: url(../../assets/img/intro1_ash.jpg) no-repeat;
			background-size: 70%;
			@include m.pc{
			background: url(../../assets/img/intro1_ash_pc.jpg) no-repeat;
			background-size: 46% auto;
			}
		}
		&--og {
			background: url(../../assets/img/intro1_og.jpg) no-repeat;
			background-size: 70%;
			@include m.pc{
			background: url(../../assets/img/intro1_og_pc.jpg) no-repeat;
			background-size: 46% auto;
			}
		}
		&--flex {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			position: relative;
			margin-top: 20px;
			@include m.pc{
			margin-top: 0;
			}
		}
		&--title {
			color: #FFF;
			font-size: 24px;
			line-height: 42px;
			font-weight: 700;
			text-align: end;
			padding-right: 32px;
			@include m.pc{
				padding-right: 0px;
			}
			&:nth-of-type(2){margin-top: -10px;}
			&:nth-of-type(3){margin-top: -2px;}
			@include m.pc{
			order: 1;
			margin-top: -200px;
			font-size: 50px;
			line-height: 70px;
			&:nth-of-type(2){margin-top: -23px;}
			}
		}
		&--txt {
			font-size: 15px;
			line-height: 24px;
			background-color: #FFF;
			color: #324658;
			padding: 16px 24px;
			max-width: 264px;
			margin-left: auto;
			@include m.pc{
				background-color: transparent;
				color: #FFF;
				font-size: 20px;
				line-height: 40px;
				order: 2;
				max-width: 600px;
				margin-left: auto;
				padding: 24px 80px 24px 0;
			}
		}
		&--number {
			display: inline;
			margin-right: -16px;
			margin-bottom: -8px;
		}
		&--img2 {
			text-align: end;
			padding-top: 8px;
			@include m.pc{
			order: 0;
			padding-right: 32px;
			padding-top: 0;
			}
			img {
				display: block;
				width: 88%;
				margin-left: auto;
				@include m.pc{
				width: 61%;
				margin-top: -180px;
				}
			}
		} 
	}
	&__content {
		position: relative;
		z-index: 1;
		display: flex;
		flex-flow: column;
		@include m.pc {
			flex-flow: row;
		}
		align-items: center;
		justify-content: center;
		&::before {
			content: "";
			position: absolute;
			top: 360px;
			bottom: -100px;
			left: 0;
			right: 0;
			transform: skewY(-23deg);
			z-index: -1;
			background:-moz-linear-gradient(135deg, rgba(18,42,82,1) 0%, rgba(55,104,198,1) 50%, rgba(49,202,219,1) 100%);
			background:-webkit-linear-gradient(135deg, rgba(18,42,82,1) 0%, rgba(55,104,198,1) 50%, rgba(49,202,219,1) 100%);
			background: linear-gradient(135deg, rgba(18,42,82,1) 0%, rgba(55,104,198,1) 50%, rgba(49,202,219,1) 100%);
			@include m.pc {
			transform: skewY(-15deg);
			bottom: -300px;
			top: 287px;
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 360px;
			bottom: -100px;
			left: 0;
			right: 0;
			z-index: -1;
			background:url(../../assets/img/dotBox_content.png) no-repeat;
			@include m.pc {
			left: 230px;
			top: 420px;
			background:url(../../assets/img/dotBox_content_pc.png) no-repeat;
			}
		}
		@include m.pc{
		display: flex;
		margin-left: -200px;
		overflow: hidden;
		}
		&--feature {
			img {
				padding-right: 13px;
				@include m.pc{
					padding-right: 0;
				}
			}
		}
	}
	&__box {
		background-color: rgba(255, 255, 255, 0.85);
		padding: 16px 24px;

	}
}
.number_s {
	font-family: 'digitalNumber';
	color: #FFF;
	font-size: 30px;
	margin-right: 5px;
	@include m.pc{
		font-size: 60px;
		margin-right: 10px;
	}
}
.number_l {
	font-family: 'digitalNumber';
	font-weight: bold;
	color: #31cabd;
	background: -webkit-linear-gradient(-135deg, #31cabd, #3768cb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 48px;
	margin-right: 2px;
	@include m.pc{
		font-size: 104px;
	}
}
.number_l-og {
	font-family: 'digitalNumber';
	font-weight: bold;
	color: #31cabd;
	background: -webkit-linear-gradient(-135deg, #31cabd, #3768cb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 48px;
	margin-right: 10px;
	@include m.pc{
		font-size: 104px;
	}
}