//mixin用
@use '../foundation/mixin' as m;

@use "../foundation/various" as v;
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

.intro {
	font-family: v.$base_font;
	@include m.pc{
		.layout1,
		.layout2,
		.layout4,
		.layout5 {
			padding: 80px 18.75%;
		}
	}
	.layout1 {
		padding: 64px 0 96px;
		@include m.pc{
			padding: 120px 0 180px;
		}
	}
	.layout2 {
		overflow: hidden;
		@include m.pc{
			padding-top: 28px;
		}
	}
	.layout3 {
		padding-bottom: 50px;
		padding-left: 16px;
		@include m.pc{
			padding-bottom: 0;
		}
	}
	.layout4 {
		padding: 42% 0 0 48px;
		margin-top: 35px;
		@include m.pc{
			padding: 20% 0 0 18.75%;
			margin: 0;
		}
	}
	.layout5 {
		@include m.pc{
			padding-top: 320px;
			padding-bottom: 280px;
		}
	}
	.layout8 {
		padding-left: 16px;
	}
	&__teacher {
		background-color: #f0f0f0 !important;
		position: relative;
		z-index: 0;
		&::before {
			content: "";
			position: absolute;
			top: 153px;
			bottom: 143px;
			left: 0;
			right: 0;
			transform: skewY(-23deg);
			z-index: -1;
			background-color: #324658;
			@include m.pc {
			transform: skewY(-15deg);
			bottom: -60px;
			top: 282px;
			}
		}
	}
	&__name {
		font-family: "游明朝体", 'Yu Mincho', 'YuMincho', 'Noto Serif JP', serif;
		font-weight: 900;
		font-size: 90px;
		color: #324658;
		height: 90px;
		position: absolute;
		top: -50px;
		@include m.pc{
			font-size: 130px;
			height: 173px;
		}
	}
	&__ash {
		position: relative;
		@include m.pc{
			overflow: visible;
		}
		
		padding-top: 35px;
		span:nth-of-type(1){color:#446fc8}
		span:nth-of-type(2){position: absolute; left: 90px; @include m.pc {left: 127px;}}

		span:nth-of-type(3){font-size: 48px; position: absolute; top: 15px; left: 180px; @include m.pc {font-size: 74px; left: 261px;}}
		&::before {
			content: "ASHIZAWA";
			position: absolute;
			top: 136px;
			left: 0;
			font-family: v.$base_font;
			font-size: 100px;
			font-weight: 900;
			color: #324658;
			opacity: 0.1;
		}
	}
	&__ash--first {
		position: relative;
		&::before {
			content: "あっしー";
			position: absolute;
			font-family: v.$base_font;
			font-size: 20px;
			color: #446fc8;
			bottom: -44px;
			left: 15px;
			@include m.pc {
				font-size: 27px;
				bottom: -55px;
			}
		}
	}

	&__og {
		position: relative;
		@include m.pc{
			overflow: visible;
		}
		padding-top: 35px;
		span:nth-of-type(1){color:#446fc8}
		span:nth-of-type(2){position: absolute; left: 90px; @include m.pc {left: 127px;}}

		span:nth-of-type(3){font-size: 48px; position: absolute; top: 15px; left: 180px; @include m.pc {font-size: 74px; left: 261px;}}
		&::before {
			content: "OGINO";
			position: absolute;
			top: 136px;
			left: 0;
			font-family: v.$base_font;
			font-size: 100px;
			font-weight: 900;
			color: #324658;
			opacity: 0.1;
		}
	}
	&__og--first {
		position: relative;
		&::before {
			content: "おぎーの";
			position: absolute;
			font-family: v.$base_font;
			font-size: 20px;
			color: #446fc8;
			bottom: -44px;
			left: 15px;
			@include m.pc {
				font-size: 27px;
				bottom: -55px;
			}
		}
	}
	&__heading {
		align-items: center;
		@include m.pc{
		}
		&--ash {
			background: url(../../assets/img/intro1_ash.png) no-repeat;
			background-size: 70%;
			@include m.pc{
			background-size: 46% auto;
			}
		}
		&--og {
			background: url(../../assets/img/intro1_og.png) no-repeat;
			background-size: 70%;
			@include m.pc{
			background-size: 46% auto;
			}
		}
		&--flex {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			@include m.pc{
			}
		}
		&--title {
			color: #FFF;
			font-size: 24px;
			line-height: 42px;
			font-weight: 900;
			text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
			text-align: end;
			padding-right: 32px;
			span {
				font-size: 18px;
				font-weight: 500;
				margin-left: 8px;
			}
			@include m.pc{
			order: 1;
			margin-top: -200px;
			font-size: 50px;
			line-height: 70px;
			}
		}
		&--txt {
			font-size: 15px;
			line-height: 24px;
			background-color: #FFF;
			color: #324658;
			padding: 16px 24px;
			max-width: 264px;
			margin-left: auto;
			@include m.pc{
				background-color: transparent;
				color: #FFF;
				font-size: 20px;
				line-height: 40px;
				order: 2;
				max-width: 600px;
				margin-left: auto;
				padding: 24px 80px 24px 0;
			}
		}
		&--number {
			display: inline;
			margin-right: -16px;
			margin-bottom: -8px;
		}
		&--img2 {
			text-align: end;
			padding-top: 8px;
			@include m.pc{
			order: 0;
			padding-right: 32px;
			padding-top: 0;
			}
			img {
				display: block;
				width: 88%;
				margin-left: auto;
				@include m.pc{
				width: 61%;
				}
			}
		} 
	}
	&__content {
		background-color: #f0f0f0;
		position: relative;
		z-index: -1;
		&::before {
			content: "";
			position: absolute;
			top: 224px;
			bottom: -384px;
			left: 0;
			right: 0;
			transform: skewY(-23deg);
			z-index: -1;
			background:-moz-linear-gradient(right, #243C74, #2EB6C5);
			background:-webkit-linear-gradient(right, #243C74, #2EB6C5);
			background:linear-gradient(to right, #243C74, #2EB6C5);
			@include m.pc {
			transform: skewY(-15deg);
			bottom: -60px;
			top: 282px;
			}
		}
		@include m.pc{
		display: flex;
		margin-left: -200px;
		}
		&--feature {
			img {
				width: 100%;
				display: block;
				margin: 0 auto;
				@include m.pc{
					width: 130%;
				}
			}
		}
	}
	&__box {
		background-color: rgba(255, 255, 255, 0.85);
		padding: 16px 24px;

	}
}