//mixin用
@use '../foundation/mixin' as m;

@use "../foundation/various" as v;
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

.point {
	font-family: v.$base_font;
	color: v.$base_color;
	position: relative;
	overflow: hidden;
	.point__image--r3 {
		position: absolute;
		top: 100px;
		right: -55px;
	}
	.layout1 {
		padding-top: 0;
		@include m.pc {
		padding: 0 88px 88px;
		}
	}
	.layout2 {
		padding: 88px 24px 0;
		@include m.pc {
		padding: 0 18.73%;
		}
	}
	.layout3 {
		position: relative;
		padding: 0 10.6%;
		@include m.pc {
		padding-bottom: 128px;
		}
	}
  &__titleWrap{
    @include m.h2-titleWrap;
    @include m.pc{
      @include m.h2-titleWrap_pc;
    }
  }

  &__title{
    @include m.h2-title;
  }
  &__title::before{
    @include m.underbar_b;
    @include m.pc{
      @include m.underbar_b_pc;
    }
  }
	&__content {
		line-height: v.$base_l-height;
		margin: 0 auto;
		text-align: center;
		display: block;
		&--txt {
			text-align: left;
			display: inline-block;
			@include m.pc {
				padding: 32px 128px 80px;
			}
		}
	}
	&__image {
		&--r1 {
			position: absolute;
			top: 147px;
			right: -70px;
		}
		&--r2 {
			position: absolute;
			top: 1400px;
			right: -70px;
		}
		&--l {
			position: absolute;
			top: 786px;
			left: -60px;
			@include m.pc {
				top: 190px;
				left: -60px;
			}
		}
	}
	&__list {
		line-height: v.$base_l-height;
		margin-top: 80px;
		counter-reset: number;
		@include m.pc {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			position: relative;
			max-width: 1200px;
			margin: 0 auto;
			&::after {
				content: "";
				display: block;
				width: calc(100% / 3);
			}
		}
		&--item {
			@include m.pc {
				width: calc(96% / 3);
				margin: 16px auto 0;
			}
		}
		&--title {
			position: relative;
			font-family: futura-pt-bold,sans-serif;
			color: #001429;
			font-size: 18px;
			line-height: 26px;
			display: flex;
			counter-increment: number;
			&::before {
				content: "";
				width: 4.8em;
				height: 4.8em;
				background: url(../../assets/svg/point_number.svg) no-repeat;
				background-size: contain;
				display: inline-block;
				margin-top: -30px;
				margin-right: 10px;
			}
			&::after {
				position: absolute;
				display: block;
				top: -30px;
				left: 0;
				content: counter(number, decimal-leading-zero);
				font-size: 30px;
				font-weight: 900;
				border-radius: 50%;
				text-align: center;
				line-height: 72px;
				background: linear-gradient(50deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				background: -webkit-linear-gradient(40deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				width: 72px;
				height: 72px;
			}
		}
		&--txt {
			color: #001429;
			font-size: 15px;
			line-height: 23px;
			padding: 40px 0 80px;
			@include m.pc {
			padding: 40px 15% 80px 0;
			}
		}
	}
}