//mixin用
@use '../foundation/mixin' as m;

@use "../foundation/various" as v;
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');
.top {

	.layout1 {
		background: url('../../assets/img/top.jpg') no-repeat center center;
		background-size: cover;
		position: relative;
		@include m.pc{
			background: url('../../assets/img/top_pc.jpg') no-repeat center center;
			background-size: cover;
			position: relative;
		}
	}
	&__title {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__flex {
		display: flex;
		align-items: center;
		padding: 140% 35px 10%;
		@include m.pc{
			padding: 30% 64px 10%;
		}
		&--button {
			width: 42%;
			position: relative;
			&::after {
				content: url(../../assets/img/scrollArrow.png);
				position: absolute;
				top: 60%;
				left: 57px;
				animation: pathmove 1.4s ease-in-out infinite;
				opacity: 0;
				@include m.pc{
					content: url(../../assets/svg/scrollArrow_pc.svg);
					top: 60%;
					left: 130px;
				}
			}
			@keyframes pathmove {
				0% {
				  height: 0;
				  top: 60%;
				  opacity: 0;
				}
				30% {
				  height: 50px;
				  opacity: 1;
				}
				100% {
				  height: 0;
				  top: 70%;
				  opacity: 0;
				}
			  }
		}
		&--text {
			width: 65%;
			color: #FFF;
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			@include m.pc{
				font-size: 24px;
				line-height: 40px;
				margin-top: -25%;
				margin-left: 37%;
			}
		}
	}
}
