@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap");
/*PCサイズ */
.container--guide .container__wrapper {
  border: dotted 1px cyan;
}
.container--guide .layout1 {
  border: dashed 1px #E60012;
  background: rgba(230, 0, 18, 0.1);
}
.container--guide .layout2 {
  border: dashed 1px #f39800;
  background: rgba(243, 152, 80, 0.1);
}
.container--guide .layout3 {
  border: dashed 1px #FFF100;
  background: rgba(255, 251, 80, 0.1);
}
.container--guide .layout4 {
  border: dashed 1px #8FC31F;
  background: rgba(143, 195, 31, 0.1);
}
.container--guide .layout5 {
  border: dashed 1px #009944;
  background: rgba(0, 153, 68, 0.1);
}
.container--guide .layout6 {
  border: dashed 1px #009E96;
  background: rgba(0, 158, 150, 0.1);
}
.container--guide .layout7 {
  border: dashed 1px #00A0E9;
  background: rgba(0, 160, 233, 0.1);
}
.container--guide .layout8 {
  border: dashed 1px #0068B7;
  background: rgba(0, 104, 183, 0.1);
}
.container--guide .layout9 {
  border: dashed 1px #1D2088;
  background: rgba(29, 32, 136, 0.1);
}
.container--guide .layout10 {
  border: dashed 1px #920783;
  background: rgba(146, 7, 131, 0.1);
}
.container--guide .layout11 {
  border: dashed 1px #E4007F;
  background: rgba(228, 0, 127, 0.1);
}
.container--guide .layout12 {
  border: dashed 1px #e5004f;
  background: rgba(229, 0, 79, 0.1);
}

/*====================
  font
====================*/
.container {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 28px;
  overflow: hidden;
}
.container .not-pc-br {
  display: none;
}
.container .sp {
  display: block;
}
.container .pc {
  display: none;
}
@media screen and (min-width: 1024px) {
  .container {
    /*  1024pxより大きい時 */
  }
  .container .sp {
    display: none;
  }
  .container .pc {
    display: block;
  }
}

.fadeRight {
  animation-name: fadeRightAnime;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeRightTrigger {
  opacity: 0;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(40px);
    @media screen and (min-width: 1024px) {
      /*  1024pxより大きい時 */
      transform: translateY(50px);
    }
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeUpTrigger {
  opacity: 0;
}

.bgextend {
  animation-name: bgextendAnimeBase;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden;
  opacity: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
@media screen and (min-width: 1024px) {
  .bgextend {
    /*  1024pxより大きい時 */
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgappear {
  animation-name: bgextendAnimeSecond;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*左から右*/
.bgLRextend::before {
  animation-name: bgLRextendAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  /*伸びる背景色の設定*/
}

@keyframes bgLRextendAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger {
  opacity: 0;
}

@media screen and (min-width: 1024px) {
  main {
    /*  1024pxより大きい時 */
    padding-top: 90px;
  }
}

/*====================
  header
====================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}
@media screen and (min-width: 1024px) {
  .header {
    /*  1024pxより大きい時 */
    display: flex;
    padding: 8px 8.3%;
    background-color: #fff;
  }
}
.header__bar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}
@media screen and (min-width: 1024px) {
  .header__bar {
    /*  1024pxより大きい時 */
    display: flex;
  }
}

/*====================
  menuButton
====================*/
@media screen and (min-width: 1024px) {
  .menuButton {
    /*  1024pxより大きい時 */
    display: none;
  }
}
.menuButton__inner {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuButton__inner--bar {
  position: relative;
  width: 32px;
  height: 2px;
  background-color: #446fc8;
  transition: 0.4s;
}
.menuButton__inner--bar::before, .menuButton__inner--bar::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #446fc8;
  transition: 0.4s;
}
.menuButton__inner--bar::before {
  top: -8px;
}
.menuButton__inner--bar::after {
  top: 8px;
}
.menuButton__text {
  font-size: 11px;
  margin-top: -10px;
}

#menu:checked ~ .header__bar .menuButton__inner--bar {
  background: transparent;
  transform: rotate(180deg);
}
#menu:checked ~ .header__bar .menuButton__inner--bar::before {
  transform: rotate(45deg);
  top: 0;
}
#menu:checked ~ .header__bar .menuButton__inner--bar::after {
  transform: rotate(-45deg);
  top: 0;
}

/*====================
  menu
====================*/
#menu {
  display: none;
}
#menu:checked ~ .menu {
  right: 0;
}

.menu {
  position: fixed;
  top: 60px;
  right: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  transition: 0.6s;
}
@media screen and (min-width: 1024px) {
  .menu {
    /*  1024pxより大きい時 */
    position: static;
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .menu__wrapper {
    /*  1024pxより大きい時 */
    display: flex;
  }
}
.menu__link {
  color: #000;
  display: block;
  height: 72px;
  line-height: 72px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .menu__link {
    /*  1024pxより大きい時 */
    width: auto;
    margin-right: 48px;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1270px) {
  .menu__link {
    margin-right: 20px;
  }
}

.top .layout1 {
  background: url("../../assets/img/top.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .top .layout1 {
    /*  1024pxより大きい時 */
    background: url("../../assets/img/top_pc.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
  }
}
.top__title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top__flex {
  display: flex;
  align-items: center;
  padding: 140% 35px 10%;
}
@media screen and (min-width: 1024px) {
  .top__flex {
    /*  1024pxより大きい時 */
    padding: 30% 64px 10%;
  }
}
.top__flex--button {
  width: 42%;
  position: relative;
}
.top__flex--button::after {
  content: url(../../assets/img/scrollArrow.png);
  position: absolute;
  top: 60%;
  left: 57px;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}
@media screen and (min-width: 1024px) {
  .top__flex--button::after {
    /*  1024pxより大きい時 */
    content: url(../../assets/svg/scrollArrow_pc.svg);
    top: 60%;
    left: 130px;
  }
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 60%;
    opacity: 0;
  }
  30% {
    height: 50px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 70%;
    opacity: 0;
  }
}
.top__flex--text {
  width: 65%;
  color: #FFF;
  font-size: 14px;
  line-height: 20px;
}
@media screen and (min-width: 1024px) {
  .top__flex--text {
    /*  1024pxより大きい時 */
    font-size: 24px;
    line-height: 40px;
    margin-top: -25%;
    margin-left: 37%;
  }
}

.box {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #001429;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
.box__title {
  text-align: center;
  padding: 2em;
  position: relative;
}
.box__title::before {
  content: "";
  width: 50px;
  height: 60px;
  position: absolute;
  border-left: solid 2px #FFF;
  border-top: solid 2px #FFF;
  top: 0;
  left: 0;
}
.box__title::after {
  content: "";
  width: 50px;
  height: 60px;
  position: absolute;
  border-right: solid 2px #FFF;
  border-bottom: solid 2px #FFF;
  bottom: 0;
  right: 0;
}
.box__title--gradation {
  font-size: 30px;
  color: #c6f21f;
}
.box__title--nomal {
  color: #FFF;
  font-size: 20px;
}
.box__text {
  color: #FFF;
  font-size: 16px;
  line-height: 26px;
}

.intro {
  font-family: "Noto Sans JP", sans-serif;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .intro {
    /*  1024pxより大きい時 */
  }
  .intro .layout1,
.intro .layout4,
.intro .layout5 {
    padding: 80px 18.75%;
  }
}
.intro .layout1 {
  padding: 0 0 112px;
}
@media screen and (min-width: 1024px) {
  .intro .layout1 {
    /*  1024pxより大きい時 */
    padding-bottom: 148px;
  }
}
@media screen and (min-width: 1024px) {
  .intro .layout2 {
    /*  1024pxより大きい時 */
    padding-top: 28px;
  }
}
.intro .layout3 {
  padding-bottom: 50px;
  padding-left: 16px;
  height: 146px;
}
@media screen and (min-width: 1024px) {
  .intro .layout3 {
    /*  1024pxより大きい時 */
    padding: 0 18.75%;
    margin-bottom: 87px;
  }
}
.intro .layout4 {
  padding: 42% 0 0 48px;
  margin-top: 35px;
}
@media screen and (min-width: 1024px) {
  .intro .layout4 {
    /*  1024pxより大きい時 */
    padding: 20% 0 0 18.75%;
    margin: 0;
  }
}
.intro .layout5 {
  padding-bottom: 80px;
}
@media screen and (min-width: 1024px) {
  .intro .layout5 {
    /*  1024pxより大きい時 */
    margin-top: -114px;
    padding-top: 285px;
    padding-bottom: 120px;
  }
}
.intro .layout8 {
  padding-left: 16px;
  transform: skewY(23deg);
}
@media screen and (min-width: 1024px) {
  .intro .layout8 {
    /*  1024pxより大きい時 */
    transform: skewY(15deg);
    padding: 0 18.75% 8%;
  }
}
.intro .layout9 {
  background-color: #FFF;
  height: 128px;
  transform: skewY(0deg);
}
.intro .layout10 {
  background-color: #324658;
  transform: skewY(-23deg);
}
@media screen and (min-width: 1024px) {
  .intro .layout10 {
    /*  1024pxより大きい時 */
    transform: skewY(-15deg);
  }
}
.intro .layout10::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../../assets/img/dotBox_intro.png) no-repeat;
  transform: skewY(23deg);
  z-index: -1;
}
@media screen and (min-width: 1024px) {
  .intro .layout10::after {
    /*  1024pxより大きい時 */
    top: 430px;
    left: 1000px;
    transform: skewY(15deg);
    background: url(../../assets/img/dotBox_intro_ash_pc.png) no-repeat;
  }
}
.intro__titleWrap {
  padding-top: 60px;
}
@media screen and (min-width: 1024px) {
  .intro__titleWrap {
    /*  1024pxより大きい時 */
    padding-top: 100px;
  }
}
.intro__title {
  position: relative;
  text-align: center;
}
.intro__title::before {
  position: absolute;
  width: 40px;
  height: 1px;
  content: "";
  bottom: -32px;
  right: 50%;
  transform: translateX(50%);
  background-color: #4c6fc2;
}
@media screen and (min-width: 1024px) {
  .intro__title::before {
    /*  1024pxより大きい時 */
    width: 75px;
    bottom: -60px;
  }
}
.intro__teacher {
  background-color: #f0f0f0;
  position: relative;
  z-index: 0;
}
.intro__name {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  font-size: 90px;
  color: #324658;
  height: 90px;
  position: absolute;
  top: -50px;
}
@media screen and (min-width: 1024px) {
  .intro__name {
    /*  1024pxより大きい時 */
    font-size: 130px;
  }
}
.intro__name--en {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 100px;
  font-weight: 900;
  color: rgba(50, 69, 104, 0.1);
  overflow: hidden;
  padding: 45px 0;
  margin-top: -30px;
}
.intro__ash {
  position: relative;
  padding-top: 35px;
}
.intro__ash span:nth-of-type(1) {
  color: #437BB2;
}
.intro__ash span:nth-of-type(2) {
  position: absolute;
  left: 90px;
}
@media screen and (min-width: 1024px) {
  .intro__ash span:nth-of-type(2) {
    /*  1024pxより大きい時 */
    left: 127px;
  }
}
.intro__ash span:nth-of-type(3) {
  font-size: 48px;
  position: absolute;
  top: 22px;
  left: 180px;
}
@media screen and (min-width: 1024px) {
  .intro__ash span:nth-of-type(3) {
    /*  1024pxより大きい時 */
    font-size: 74px;
    left: 261px;
  }
}
.intro__ash--first {
  position: relative;
}
.intro__ash--first::before {
  content: "あっしー";
  position: absolute;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  color: #446fc8;
  bottom: -48px;
  left: 5px;
}
@media screen and (min-width: 1024px) {
  .intro__ash--first::before {
    /*  1024pxより大きい時 */
    font-size: 27px;
    bottom: -66px;
  }
}
.intro__og {
  position: relative;
  padding-top: 20px;
}
.intro__og span:nth-of-type(1) {
  color: #437bb2;
}
.intro__og span:nth-of-type(2) {
  position: absolute;
  left: 90px;
}
@media screen and (min-width: 1024px) {
  .intro__og span:nth-of-type(2) {
    /*  1024pxより大きい時 */
    left: 127px;
  }
}
.intro__og span:nth-of-type(3) {
  font-size: 48px;
  position: absolute;
  top: 4px;
  left: 185px;
}
@media screen and (min-width: 1024px) {
  .intro__og span:nth-of-type(3) {
    /*  1024pxより大きい時 */
    font-size: 74px;
    left: 261px;
  }
}
.intro__og--first {
  position: relative;
}
.intro__og--first::before {
  content: "おぎーの";
  position: absolute;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  color: #446fc8;
  bottom: -51px;
  left: 1px;
}
@media screen and (min-width: 1024px) {
  .intro__og--first::before {
    /*  1024pxより大きい時 */
    font-size: 27px;
    bottom: -72px;
  }
}
.intro__heading {
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .intro__heading {
    /*  1024pxより大きい時 */
  }
}
.intro__heading--ash {
  background: url(../../assets/img/intro1_ash.jpg) no-repeat;
  background-size: 70%;
}
@media screen and (min-width: 1024px) {
  .intro__heading--ash {
    /*  1024pxより大きい時 */
    background: url(../../assets/img/intro1_ash_pc.jpg) no-repeat;
    background-size: 46% auto;
  }
}
.intro__heading--og {
  background: url(../../assets/img/intro1_og.jpg) no-repeat;
  background-size: 70%;
}
@media screen and (min-width: 1024px) {
  .intro__heading--og {
    /*  1024pxより大きい時 */
    background: url(../../assets/img/intro1_og_pc.jpg) no-repeat;
    background-size: 46% auto;
  }
}
.intro__heading--flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .intro__heading--flex {
    /*  1024pxより大きい時 */
  }
}
.intro__heading--title {
  color: #FFF;
  font-size: 24px;
  line-height: 42px;
  font-weight: 900;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  text-align: end;
  padding-right: 32px;
}
.intro__heading--title:nth-of-type(2) {
  margin-top: -27px;
}
@media screen and (min-width: 1024px) {
  .intro__heading--title {
    /*  1024pxより大きい時 */
    order: 1;
    margin-top: -200px;
    font-size: 50px;
    line-height: 70px;
  }
  .intro__heading--title:nth-of-type(2) {
    margin-top: -46px;
  }
}
.intro__heading--txt {
  font-size: 15px;
  line-height: 24px;
  background-color: #FFF;
  color: #324658;
  padding: 16px 24px;
  max-width: 264px;
  margin-left: auto;
}
@media screen and (min-width: 1024px) {
  .intro__heading--txt {
    /*  1024pxより大きい時 */
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
    line-height: 40px;
    order: 2;
    max-width: 600px;
    margin-left: auto;
    padding: 24px 80px 24px 0;
  }
}
.intro__heading--number {
  display: inline;
  margin-right: -16px;
  margin-bottom: -8px;
}
.intro__heading--img2 {
  text-align: end;
  padding-top: 8px;
}
@media screen and (min-width: 1024px) {
  .intro__heading--img2 {
    /*  1024pxより大きい時 */
    order: 0;
    padding-right: 32px;
    padding-top: 0;
  }
}
.intro__heading--img2 img {
  display: block;
  width: 88%;
  margin-left: auto;
}
@media screen and (min-width: 1024px) {
  .intro__heading--img2 img {
    /*  1024pxより大きい時 */
    width: 61%;
  }
}
.intro__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .intro__content {
    /*  1024pxより大きい時 */
    flex-flow: row;
  }
}
.intro__content::before {
  content: "";
  position: absolute;
  top: 360px;
  bottom: -100px;
  left: 0;
  right: 0;
  transform: skewY(-23deg);
  z-index: -1;
  background: -moz-linear-gradient(right, #243C74, #2EB6C5);
  background: -webkit-linear-gradient(right, #243C74, #2EB6C5);
  background: linear-gradient(to right, #243C74, #2EB6C5);
}
@media screen and (min-width: 1024px) {
  .intro__content::before {
    /*  1024pxより大きい時 */
    transform: skewY(-15deg);
    bottom: -300px;
    top: 287px;
  }
}
.intro__content::after {
  content: "";
  position: absolute;
  top: 360px;
  bottom: -100px;
  left: 0;
  right: 0;
  z-index: -1;
  background: url(../../assets/img/dotBox_content.png) no-repeat;
}
@media screen and (min-width: 1024px) {
  .intro__content::after {
    /*  1024pxより大きい時 */
    left: 230px;
    top: 420px;
    background: url(../../assets/img/dotBox_content_pc.png) no-repeat;
  }
}
@media screen and (min-width: 1024px) {
  .intro__content {
    /*  1024pxより大きい時 */
    display: flex;
    margin-left: -200px;
    overflow: hidden;
  }
}
.intro__content--feature img {
  padding-right: 13px;
}
@media screen and (min-width: 1024px) {
  .intro__content--feature img {
    /*  1024pxより大きい時 */
    padding-right: 0;
  }
}
.intro__box {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 16px 24px;
}

.point {
  font-family: "Noto Sans JP", sans-serif;
  color: #001429;
  position: relative;
  overflow: hidden;
}
.point .point__image--r3 {
  position: absolute;
  top: 100px;
  right: -55px;
}
.point .layout1 {
  padding-top: 0;
}
@media screen and (min-width: 1024px) {
  .point .layout1 {
    /*  1024pxより大きい時 */
    padding: 0 88px 88px;
  }
}
.point .layout2 {
  padding: 112px 24px 0;
}
@media screen and (min-width: 1024px) {
  .point .layout2 {
    /*  1024pxより大きい時 */
    padding: 0 18.73%;
  }
}
.point .layout3 {
  position: relative;
  padding: 0 10.6%;
}
@media screen and (min-width: 1024px) {
  .point .layout3 {
    /*  1024pxより大きい時 */
    padding-bottom: 56px;
  }
}
.point__titleWrap {
  padding-top: 60px;
}
@media screen and (min-width: 1024px) {
  .point__titleWrap {
    /*  1024pxより大きい時 */
    padding-top: 100px;
  }
}
.point__title {
  position: relative;
  text-align: center;
}
.point__title::before {
  position: absolute;
  width: 40px;
  height: 1px;
  content: "";
  bottom: -32px;
  right: 50%;
  transform: translateX(50%);
  background-color: #4c6fc2;
}
@media screen and (min-width: 1024px) {
  .point__title::before {
    /*  1024pxより大きい時 */
    width: 75px;
    bottom: -60px;
  }
}
.point__content {
  line-height: 28px;
  margin: 0 auto;
  text-align: center;
  display: block;
}
.point__content--txt {
  text-align: left;
  display: inline-block;
}
@media screen and (min-width: 1024px) {
  .point__content--txt {
    /*  1024pxより大きい時 */
    padding: 60px 128px 80px;
  }
}
.point__image--r1 {
  position: absolute;
  top: 147px;
  right: -70px;
}
.point__image--r2 {
  position: absolute;
  top: 1400px;
  right: -70px;
}
.point__image--l {
  position: absolute;
  top: 786px;
  left: -60px;
}
@media screen and (min-width: 1024px) {
  .point__image--l {
    /*  1024pxより大きい時 */
    top: 190px;
    left: -60px;
  }
}
.point__list {
  line-height: 28px;
  margin-top: 80px;
  counter-reset: number;
}
@media screen and (min-width: 1024px) {
  .point__list {
    /*  1024pxより大きい時 */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .point__list::after {
    content: "";
    display: block;
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 1024px) {
  .point__list--item {
    /*  1024pxより大きい時 */
    width: 32%;
    margin: 16px auto 0;
  }
}
.point__list--title {
  position: relative;
  font-family: futura-pt-bold, sans-serif;
  color: #001429;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  display: flex;
  counter-increment: number;
}
.point__list--title::before {
  content: "";
  width: 4.8em;
  height: 4.8em;
  background: url(../../assets/svg/point_number.svg) no-repeat;
  background-size: contain;
  display: inline-block;
  margin-top: -30px;
  margin-right: 10px;
}
.point__list--title::after {
  position: absolute;
  display: block;
  top: -30px;
  left: 0;
  content: counter(number, decimal-leading-zero);
  font-size: 30px;
  font-weight: 900;
  border-radius: 50%;
  text-align: center;
  line-height: 72px;
  background: linear-gradient(50deg, #9300F0 32%, #413DF1 50%, #00E8FA 65%);
  background: -webkit-linear-gradient(50deg, #9300F0 32%, #413DF1 50%, #00E8FA 65%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 72px;
  height: 72px;
}
.point__list--txt {
  color: #001429;
  font-size: 15px;
  line-height: 23px;
  padding: 40px 0 80px;
}
@media screen and (min-width: 1024px) {
  .point__list--txt {
    /*  1024pxより大きい時 */
    padding: 40px 15% 80px 0;
  }
}

.contact {
  font-family: "Noto Sans JP", sans-serif;
  color: #001429;
  background-color: #324658;
  position: relative;
}
.contact .layout2 {
  padding-top: 112px;
}
@media screen and (min-width: 1024px) {
  .contact .layout2 {
    /*  1024pxより大きい時 */
    padding-top: 148px;
    padding-left: 18.75%;
  }
}
.contact .layout3 {
  padding: 140px 32px 80px;
  margin-top: -113px;
  background: url(../../assets/img/dotBox_contact.png);
  top: 0;
  left: 0;
}
@media screen and (min-width: 1024px) {
  .contact .layout3 {
    /*  1024pxより大きい時 */
    padding: 300px 0 80px;
    margin: -200px auto 0;
    width: 83%;
    background: none;
  }
}
@media screen and (min-width: 1024px) {
  .contact .layout4 {
    /*  1024pxより大きい時 */
    margin-top: -300px;
    padding-top: 280px;
    background: url(../../assets/img/dotBox_contact_pc.png);
    top: 0;
    left: 0;
  }
}
.contact__titleWrap {
  padding-top: 60px;
}
@media screen and (min-width: 1024px) {
  .contact__titleWrap {
    /*  1024pxより大きい時 */
    padding-top: 100px;
  }
}
.contact__title {
  position: relative;
  text-align: center;
}
.contact__title::before {
  position: absolute;
  width: 40px;
  height: 1px;
  content: "";
  bottom: -32px;
  right: 50%;
  transform: translateX(50%);
  background-color: white;
}
@media screen and (min-width: 1024px) {
  .contact__title::before {
    /*  1024pxより大きい時 */
    width: 75px;
    bottom: -60px;
  }
}
.contact__img {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .contact__img {
    /*  1024pxより大きい時 */
    display: flex;
    flex-wrap: wrap;
  }
  .contact__img--l, .contact__img--r {
    display: flex;
    flex-flow: column;
    width: 50%;
  }
}
.contact__img--og, .contact__img--ash {
  padding-bottom: 8px;
}
@media screen and (min-width: 1024px) {
  .contact__img--og, .contact__img--ash {
    /*  1024pxより大きい時 */
    width: 50%;
  }
}
.contact__img--og img {
  display: block;
  width: 78%;
}
@media screen and (min-width: 1024px) {
  .contact__img--og img {
    /*  1024pxより大きい時 */
    display: block;
    width: 145%;
    padding-bottom: 30px;
  }
}
.contact__img--ash img {
  display: block;
  width: 78%;
}
@media screen and (min-width: 1024px) {
  .contact__img--ash img {
    /*  1024pxより大きい時 */
    width: 200%;
    padding-left: 72px;
  }
}
.contact__img--tw {
  text-align: right;
  padding-bottom: 8px;
}
@media screen and (min-width: 1024px) {
  .contact__img--tw {
    /*  1024pxより大きい時 */
    width: 50%;
    padding-top: 10%;
  }
}
.contact__img--tw img {
  display: block;
  width: 78%;
  margin-left: auto;
}
@media screen and (min-width: 1024px) {
  .contact__img--tw img {
    /*  1024pxより大きい時 */
    width: 200%;
    padding-left: 36px;
  }
}
.contact__lead {
  font-weight: 700;
  margin-top: -20px;
}
@media screen and (min-width: 1024px) {
  .contact__lead {
    /*  1024pxより大きい時 */
    position: absolute;
    font-size: 32px;
    top: 34%;
    left: 40%;
  }
}
.contact__lead .band {
  background-color: #FFF;
  padding: 8px 24px;
  display: inline-block;
  margin-bottom: 8px;
}
@media screen and (min-width: 1024px) {
  .contact__lead .band {
    /*  1024pxより大きい時 */
    padding: 20px 64px 20px 24px;
  }
}
.contact__flex {
  display: flex;
  justify-content: space-between;
}
.contact__flex--title {
  align-items: center;
  margin: auto 0;
}
.contact__flex--number {
  margin-left: -24px;
}
.contact__list1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact__list1--title {
  font-weight: 600;
  color: #FFF;
  font-size: 20px;
  line-height: 32px;
  text-align: right;
  padding-right: 24px;
}
.contact__list1--text {
  color: #FFF;
  line-height: 24px;
  position: relative;
  padding: 24px 24px 48px;
  margin-top: -30px;
}
@media screen and (min-width: 1024px) {
  .contact__list1--text {
    /*  1024pxより大きい時 */
    min-height: 192px;
  }
}
.contact__list1--text::before {
  content: "";
  display: inline-block;
  width: 56px;
  height: 120px;
  position: absolute;
  border-left: solid 5px #FFF;
  border-top: solid 5px #FFF;
  border-image: linear-gradient(50deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
  border-image: -webkit-linear-gradient(40deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
  border-image-slice: 1;
  top: 0;
  left: 0;
}
.contact__list1--text::after {
  content: "";
  width: 56px;
  height: 120px;
  position: absolute;
  border-right: solid 5px #FFF;
  border-bottom: solid 5px #FFF;
  border-image: linear-gradient(50deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
  border-image: -webkit-linear-gradient(40deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
  border-image-slice: 1;
  bottom: 0;
  right: 0;
}
.contact__list2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact__list2--title {
  font-weight: 600;
  color: #FFF;
  font-size: 20px;
  line-height: 32px;
  text-align: right;
  padding-right: 24px;
}
.contact__list2--text {
  color: #FFF;
  line-height: 24px;
  position: relative;
  padding: 24px 24px 48px;
  margin-top: -30px;
}
@media screen and (min-width: 1024px) {
  .contact__list2--text {
    /*  1024pxより大きい時 */
    min-height: 240px;
  }
}
.contact__list2--text::before {
  content: "";
  display: inline-block;
  width: 56px;
  height: 120px;
  position: absolute;
  border-left: solid 5px #FFF;
  border-top: solid 5px #FFF;
  border-image: linear-gradient(50deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
  border-image: -webkit-linear-gradient(40deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
  border-image-slice: 1;
  top: 0;
  left: 0;
}
.contact__list2--text::after {
  content: "";
  width: 56px;
  height: 120px;
  position: absolute;
  border-right: solid 5px #FFF;
  border-bottom: solid 5px #FFF;
  border-image: linear-gradient(50deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
  border-image: -webkit-linear-gradient(40deg, #9300F0 0%, #413DF1 52%, #00E8FA 100%);
  border-image-slice: 1;
  bottom: 0;
  right: 0;
}
.contact__card1 {
  max-width: 320px;
}
@media screen and (min-width: 1024px) {
  .contact__card1 {
    /*  1024pxより大きい時 */
    width: 32%;
    margin: 0 5% 80px 0;
  }
}
.contact__card2 {
  max-width: 320px;
}
@media screen and (min-width: 1024px) {
  .contact__card2 {
    /*  1024pxより大きい時 */
    width: 32%;
    margin: 0 0 56px 5%;
  }
}

.question {
  font-family: "Noto Sans JP", sans-serif;
  position: relative;
  overflow: hidden;
}
.question__titleWrap {
  padding-top: 60px;
}
@media screen and (min-width: 1024px) {
  .question__titleWrap {
    /*  1024pxより大きい時 */
    padding-top: 100px;
  }
}
.question__title {
  position: relative;
  text-align: center;
}
.question__title::before {
  position: absolute;
  width: 40px;
  height: 1px;
  content: "";
  bottom: -32px;
  right: 50%;
  transform: translateX(50%);
  background-color: white;
}
@media screen and (min-width: 1024px) {
  .question__title::before {
    /*  1024pxより大きい時 */
    width: 75px;
    bottom: -60px;
  }
}
@media screen and (min-width: 1024px) {
  .question .layout1 {
    /*  1024pxより大きい時 */
    padding: 56px auto 0;
  }
}
.question .layout2 {
  padding: 0;
}
.question .layout3 {
  padding: 122px 24px 80px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .question .layout3 {
    /*  1024pxより大きい時 */
    padding-bottom: 136px;
  }
}

@media screen and (min-width: 1024px) {
  .questionLists {
    /*  1024pxより大きい時 */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
  }
  .questionLists::after {
    content: "";
    display: block;
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 1024px) {
  .questionLists__item {
    /*  1024pxより大きい時 */
    width: 32%;
    margin: 16px auto 0;
    padding: 10px 27px;
    cursor: pointer;
  }
}
.questionLists__item:nth-of-type(n+2) {
  margin-top: 16px;
}

.questionList__title {
  color: #001429;
  min-height: 120px;
  max-width: 560px;
  list-style: none;
  background-color: #FFF;
  border-radius: 16px;
  padding: 16px;
  position: relative;
}
.questionList__title::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 8px;
  border-bottom: 1px solid #3A61BD;
  border-right: 1px solid #3A61BD;
  transform: skew(45deg);
  bottom: 24px;
  right: 24px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.questionList__title:hover::after {
  right: 8px;
}

.questionModal {
  background-color: #FFF;
  border-radius: 16px;
  padding: 16px;
}
.questionModal__title {
  color: #446fc8;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  position: relative;
}
.questionModal__title::after {
  content: "";
  position: absolute;
  width: 30%;
  bottom: -16px;
  right: 0;
  left: 0;
  margin: auto;
  border-bottom: 4px solid #2c3d4d;
}
.questionModal__name {
  font-size: 24px;
  font-weight: 700;
}
.questionModal__name--ash {
  font-size: 24px;
  color: #141d83;
}
.questionModal__name--og {
  font-size: 24px;
  color: #38B6CE;
}
.questionModal__text {
  font-size: 16px;
  color: #FFF;
  border-radius: 8px;
  padding: 24px 16px;
}
.questionModal__text--ash {
  background-color: #141d83;
}
.questionModal__text--og {
  background-color: #38B6CE;
}
.questionModal__button {
  display: flex;
  justify-content: space-between;
}
.questionModal__button--l {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #001429;
  position: relative;
}
.questionModal__button--l::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border-bottom: solid 3px #FFF;
  border-left: solid 3px #FFF;
}
.questionModal__button--r {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #001429;
  position: relative;
}
.questionModal__button--r::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border-top: solid 3px #FFF;
  border-right: solid 3px #FFF;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: #000;
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background-color: #FFF;
  border-radius: 16px;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.close {
  position: relative;
  left: 95%;
  display: inline-block;
  width: 24px;
  height: 2px;
  background: #98a6b5;
  transform: rotate(45deg);
  vertical-align: middle;
  text-align: right;
}

.close::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #98a6b5;
  transform: rotate(90deg);
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  background-size: cover;
  z-index: 1;
}

.video-area {
  width: 100%;
  position: relative;
  z-index: 2;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: radial-gradient(rgba(0, 0, 0, 0.36) 30%, transparent 31%);
  background-color: rgba(17, 182, 214, 0.5);
  background-size: 4px 4px;
  background-position: 0 0;
  z-index: 1;
}

.voice {
  background-color: #413DF1;
  color: #FFF;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  z-index: -1;
  padding: 24px 48px 48px;
}
.voice__title {
  font-size: 15px;
  text-align: center;
  position: relative;
}
.voice__title::after {
  content: "";
  position: absolute;
  width: 10%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2em auto;
  border-bottom: 2px solid #fff;
}
.voice__text {
  line-height: 28px;
  position: relative;
  padding: 24px 16px;
  margin: 2em 0;
  top: 0;
}
.voice__text::before {
  position: absolute;
  top: 0;
  content: "";
  width: 50px;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  border-left: solid 2px #FFF;
  border-top: solid 2px #FFF;
  border-bottom: solid 2px #FFF;
  left: 0;
}
.voice__text::after {
  position: absolute;
  top: 0;
  content: "";
  width: 50px;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  border-top: solid 2px #FFF;
  border-right: solid 2px #FFF;
  border-bottom: solid 2px #FFF;
  right: 0;
}

.conversion {
  background-color: #EDEDED;
}
@media screen and (min-width: 1024px) {
  .conversion {
    /*  1024pxより大きい時 */
    overflow: hidden;
  }
}
.conversion__inner {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .conversion__inner {
    /*  1024pxより大きい時 */
    flex-direction: row-reverse;
  }
}
.conversion__imageWrap {
  margin-top: 96px;
  order: 1;
}
@media screen and (min-width: 1024px) {
  .conversion__imageWrap {
    /*  1024pxより大きい時 */
    margin-top: 208px;
    width: 55%;
  }
}
.conversion__image {
  display: block;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .conversion__image {
    /*  1024pxより大きい時 */
    max-height: 698px;
    object-fit: cover;
  }
}
.conversion__whiteBox {
  order: 2;
  background-color: #fff;
  margin: 0 4.2%;
  padding: 28px;
  margin-bottom: 80px;
  transform: translateY(-35px);
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .conversion__whiteBox {
    /*  1024pxより大きい時 */
    margin: 0;
    margin-right: -100px;
    margin-top: 400px;
    margin-bottom: 146px;
    position: relative;
    width: 1000px;
    height: 600px;
    transform: translateY(0px);
  }
}
.conversion__textWrap {
  order: 2;
}
@media screen and (min-width: 1024px) {
  .conversion__textWrap {
    /*  1024pxより大きい時 */
    transform: translateY(-120px);
  }
}
.conversion__title {
  font-size: 20px;
  font-weight: 700;
  color: #001429;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
}
@media screen and (min-width: 1024px) {
  .conversion__title {
    /*  1024pxより大きい時 */
    font-size: 32px;
    line-height: 1.4;
  }
}
.conversion__text {
  font-size: 15px;
  color: #001429;
  line-height: 1.6;
}
@media screen and (min-width: 1024px) {
  .conversion__text {
    /*  1024pxより大きい時 */
    font-size: 16px;
    padding: 0 23%;
    box-sizing: border-box;
  }
}
.conversion__text:not(:nth-of-type(1)) {
  margin-top: 16px;
}
.conversion__buttonWrap {
  order: 3;
  margin-top: 56px;
}
@media screen and (min-width: 1024px) {
  .conversion__buttonWrap {
    /*  1024pxより大きい時 */
    margin: 0;
    transform: translate(50%, -30%);
  }
}
.conversion__logoWrap {
  order: 1;
}
.conversion__logo {
  width: 57.6%;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .conversion__logo {
    /*  1024pxより大きい時 */
    max-width: 416px;
    transform: translateY(-120px);
  }
}

/* ---------------------------- */
/* --- カードセクション --- */
/* ---------------------------- */
/* ---------------------------- */
/* --- ModalSection --- */
/* ---------------------------- */
.ModalLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: opacity 0.65s;
  pointer-events: none;
  opacity: 0;
  z-index: 10000;
}

.ModalLayer.isShow {
  transition: opacity 0.65s;
  pointer-events: auto;
  opacity: 1;
}

.ModalLayer-Mask {
  position: absolute;
  background: rgba(50, 70, 88, 0.5);
  width: 100%;
  height: 100vh;
}

.ModalLayer-Inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 600px;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  .ModalLayer-Inner {
    /*  1024pxより大きい時 */
    max-width: 830px;
  }
}

.Modal-Inner-Btn {
  position: absolute;
  top: 64px;
  right: -10px;
  width: 70px;
  color: #fff;
  z-index: 10;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .Modal-Inner-Btn {
    /*  1024pxより大きい時 */
    top: 80px;
    right: -26px;
  }
}
.Modal-Inner-Btn img {
  display: block;
  width: 16px;
  height: 16px;
}
.Modal-Inner-Card {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .Modal-Inner-Card {
    /*  1024pxより大きい時 */
    overflow: hidden;
  }
}
.Modal-Inner-Card-Wrapper {
  display: flex;
}
.Modal-Inner-Card-Wrapper-Slide {
  width: 100% !important;
  height: auto;
}
.Modal-Inner-Card-Wrapper-Slide-Item {
  padding: 18px;
  border-radius: 16px;
  margin-top: 50px;
  width: 90%;
  height: 85vh;
  background: #ffffff;
}
@media screen and (min-width: 1024px) {
  .Modal-Inner-Card-Wrapper-Slide-Item {
    /*  1024pxより大きい時 */
    padding: 36px;
    width: 100%;
    height: 60vh;
    height: 486px;
  }
}
.Modal-Inner-Card-Wrapper-Slide-Item-Box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 78.37%;
}

.swiper-button-next--blue {
  background-image: url(../../assets/img/swiper_before_button--blue.png);
  left: 40px;
}

.swiper-button-prev--blue {
  background-image: url(../../assets/img/swiper_after_button--blue.png);
  right: 40px;
}

.swiper-button-prev--blue, .swiper-button-next--blue {
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
  margin-top: -24px;
  z-index: 1;
  position: absolute;
}

.swiper-button-prev--blue {
  bottom: 10px;
}

.swiper-button-next--blue {
  bottom: 10px;
}

/* ---------------------------- */
/* --- モーダルのカード --- */
/* ---------------------------- */
.modalCard__title {
  margin-bottom: 28px;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  color: #324658;
}
@media screen and (min-width: 1024px) {
  .modalCard__title {
    /*  1024pxより大きい時 */
    font-size: 20px;
    margin-bottom: 40px;
  }
}
.modalCard__title::before {
  content: "";
  width: 56px;
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: #9300f0;
  background: linear-gradient(90deg, #9300f0 0%, #413df1 50%, #00e8fa 100%);
}
@media screen and (min-width: 1024px) {
  .modalCard__content {
    /*  1024pxより大きい時 */
    display: flex;
    justify-content: center;
    justify-content: flex-start;
  }
}
.modalCard__nameImageWrap {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .modalCard__nameImageWrap {
    /*  1024pxより大きい時 */
    flex-direction: column;
    margin-right: 12px;
  }
}
.modalCard__name {
  order: 2;
  align-self: center;
  margin-left: 12px;
  font-size: 15px;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .modalCard__name {
    /*  1024pxより大きい時 */
    margin-left: 0px;
  }
}
.modalCard__image {
  order: 1;
  display: block;
  width: 48px;
}
@media screen and (min-width: 1024px) {
  .modalCard__image {
    /*  1024pxより大きい時 */
    width: 76px;
  }
}
.modalCard__text {
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .modalCard__text {
    /*  1024pxより大きい時 */
    font-size: 14px;
    line-height: 1.5;
  }
}

/* 破線 */
.dashed {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #cecece, #cecece 2px, transparent 4px, transparent 4px);
  /* 幅2の線を作る */
  background-size: 8px 1px;
  /* グラデーションの幅・高さを指定 */
  background-position: left bottom;
  /* 背景の開始位置を指定 */
  background-repeat: repeat-x;
  /* 横向きにのみ繰り返す */
}
@media screen and (min-width: 1024px) {
  .dashed {
    /*  1024pxより大きい時 */
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.conversionButtonBg {
  width: 100%;
  background: #2eb6c5;
  background: linear-gradient(270deg, #2eb6c5 0%, #3a61bd 100%);
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .conversionButtonBg {
    /*  1024pxより大きい時 */
    max-width: 673px;
  }
}

.conversionButton {
  padding: 28px 0;
  position: relative;
  display: inline-block;
  color: white;
}
@media screen and (min-width: 1024px) {
  .conversionButton {
    /*  1024pxより大きい時 */
    padding: 60px 0;
    font-size: 28px;
  }
}

.conversion__microtext {
  font-size: 10px;
  color: #001429;
  margin-top: 4px;
}
@media screen and (min-width: 1024px) {
  .conversion__microtext {
    /*  1024pxより大きい時 */
    font-size: 14px;
  }
}

.conversionButton::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 8px;
  top: 45%;
  right: 0px;
  transform: translateX(150%);
  background-image: url("../../assets/img/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .conversionButton::before {
    /*  1024pxより大きい時 */
    width: 60px;
    height: 16px;
  }
}

.conversionButton:hover::before {
  right: -8px;
}

.studentsVoice__title {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: white;
  position: relative;
}
.studentsVoice__title::before {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 2px;
  background-color: white;
}
.studentsVoice__text {
  font-size: 16px;
  line-height: 1.6;
  color: white;
  text-align: left;
}

.swiperContentArea {
  max-width: 343px;
  width: auto;
  margin: 0 auto;
  margin-top: 38px;
}
@media screen and (min-width: 1024px) {
  .swiperContentArea {
    /*  1024pxより大きい時 */
    max-width: 445px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentsVoice__content {
  box-sizing: border-box;
  padding: 24px 24px 20px;
  max-width: 293px;
  width: 100%;
  height: 303px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.studentsVoice__content::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-image: url("../../assets/img/swiper_bg_left.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 53px;
  height: 303px;
}

.studentsVoice__content::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-image: url("../../assets/img/swiper_bg_right.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 53px;
  height: 303px;
}

/* 前ページ、次ページボタン共通のスタイル */
.swiper-button-prev,
.swiper-button-next {
  width: 48px;
  /* ボタンの幅 */
  height: 48px;
  /* ボタンの高さ */
  background-size: 48px 48px;
  /* 背景画像としてのサイズ（＝表示したい画像サイズ） */
  margin-top: -24px;
  /* 縦中央配置用：ボタンの高さの半分のネガティブマージン（top:50%がすでに設定されている） */
}

/* 次ページボタンのスタイル */
.swiper-button-next {
  background-image: url("../../assets/img/swiper_next_button.png");
  margin-right: -10px;
}
@media screen and (min-width: 1024px) {
  .swiper-button-next {
    /*  1024pxより大きい時 */
    margin-right: 38px;
  }
}

.swiper-button-prev {
  background-image: url("../../assets/img/swiper_before_button.png");
  margin-left: -10px;
}
@media screen and (min-width: 1024px) {
  .swiper-button-prev {
    /*  1024pxより大きい時 */
    margin-left: 38px;
  }
}

/* デフォルトの矢印打ち消し：次ページ */
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: "";
}

/* デフォルトの矢印打ち消し：前ページ */
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: "";
}

.studentsVoice__imageWrap {
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}

.studentsVoice__icon {
  display: block;
  width: 42px;
  height: 41px;
  margin-right: 8px;
}

.studentsVoice__rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.studentsVoice__userName {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
}

.studentsVoice__userNameTwitterWrap {
  display: flex;
}

.studentsVoice__userId {
  transform: translateY(-1px);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.studentsVoice__twitter {
  display: block;
  width: 16px;
  height: 13px;
  margin-right: 6px;
}

.studentsVoice__image {
  display: block;
  width: 50%;
}

.howToAsk {
  background-image: url("../../assets/img/timeline.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1024px) {
  .howToAsk {
    /*  1024pxより大きい時 */
    background-image: url("../../assets/img/timeline_pc.jpg");
  }
}
.howToAsk .inner {
  padding: 0 4.2%;
}
.howToAsk__titleWrap {
  padding-top: 60px;
}
@media screen and (min-width: 1024px) {
  .howToAsk__titleWrap {
    /*  1024pxより大きい時 */
    padding-top: 100px;
  }
}
.howToAsk__title {
  position: relative;
  text-align: center;
}
.howToAsk__title::before {
  position: absolute;
  width: 40px;
  height: 1px;
  content: "";
  bottom: -32px;
  right: 50%;
  transform: translateX(50%);
  background-color: white;
}
@media screen and (min-width: 1024px) {
  .howToAsk__title::before {
    /*  1024pxより大きい時 */
    width: 75px;
    bottom: -60px;
  }
}
.howToAsk__textWrap {
  margin-top: 112px;
}
@media screen and (min-width: 1024px) {
  .howToAsk__textWrap {
    /*  1024pxより大きい時 */
    margin-top: 148px;
  }
}
.howToAsk__text {
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
}
@media screen and (min-width: 1024px) {
  .howToAsk__text {
    /*  1024pxより大きい時 */
    font-size: 24px;
  }
}

/*-------------
1日のスケジュール
--------------*/
/*受講生の例*/
.howToAsk__exampleWrap {
  margin-top: 24px;
}
@media screen and (min-width: 1024px) {
  .howToAsk__exampleWrap {
    /*  1024pxより大きい時 */
    margin-top: 70px;
  }
}

.exampleWrap {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  align-items: flex-end;
}
@media screen and (min-width: 1024px) {
  .exampleWrap {
    /*  1024pxより大きい時 */
    column-gap: 90px;
  }
}

.example {
  width: 38%;
  max-width: 145px;
}
@media screen and (min-width: 1024px) {
  .example {
    /*  1024pxより大きい時 */
    width: 233px;
    max-width: none;
  }
}
.example__personIntroduction {
  padding: 12px 0 36px;
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
  color: white;
}
@media screen and (min-width: 1024px) {
  .example__personIntroduction {
    /*  1024pxより大きい時 */
    font-size: 16px;
  }
}
.example__personIntroduction span {
  font-weight: bold;
}

.example--yusui .example__personIntroduction {
  background-color: #3A61BD;
}

.example--misato .example__personIntroduction {
  background-color: #C74A20;
}

/*タイムスケジュール*/
.timeSchem {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 996px;
}
.timeSchem__icon {
  width: 60%;
  display: block;
  position: relative;
  margin: 0 auto;
  top: -20px;
}
@media screen and (min-width: 1024px) {
  .timeSchem__icon {
    /*  1024pxより大きい時 */
    width: 40%;
    top: -30px;
  }
}
.timeSchem__image {
  display: block;
  width: 115%;
}
@media screen and (min-width: 1024px) {
  .timeSchem__image {
    /*  1024pxより大きい時 */
    width: 90%;
  }
}

.timeSchem--yusui {
  background-image: url("../../assets/img/dotBox_yusui.png");
}
@media screen and (min-width: 1024px) {
  .timeSchem--yusui {
    /*  1024pxより大きい時 */
    background-image: url("../../assets/img/dotBox_yusui_pc.png");
  }
}

.timeSchem--misato {
  background-image: url("../../assets/img/dotBox_misato.png");
}
@media screen and (min-width: 1024px) {
  .timeSchem--misato {
    /*  1024pxより大きい時 */
    background-image: url("../../assets/img/dotBox_misato_pc.png");
  }
}

.example--yusui .timeSchem__image {
  transform: translateX(-10px);
}
@media screen and (min-width: 1024px) {
  .example--yusui .timeSchem__image {
    /*  1024pxより大きい時 */
    transform: translateX(10px);
  }
}
.example--yusui .timeSchem__image--position1 {
  position: absolute;
  top: 170px;
  z-index: 1;
}
.example--yusui .timeSchem__image--position2 {
  position: absolute;
  top: 620px;
  z-index: 1;
}
.example--yusui .timeSchem__action {
  position: absolute;
  color: #3A61BD;
  right: 25px;
}
@media screen and (min-width: 1024px) {
  .example--yusui .timeSchem__action {
    /*  1024pxより大きい時 */
    right: 60px;
  }
}
.example--yusui .timeSchem__action:nth-of-type(1) {
  top: 145px;
}
.example--yusui .timeSchem__action:nth-of-type(1)::before {
  content: "";
  top: 8px;
  right: -47px;
  width: 40px;
  height: 2px;
  background-color: #3A61BD;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .example--yusui .timeSchem__action:nth-of-type(1)::before {
    /*  1024pxより大きい時 */
    right: -162px;
    width: 150px;
  }
}
.example--yusui .timeSchem__action:nth-of-type(2) {
  top: 375px;
}
@media screen and (min-width: 1024px) {
  .example--yusui .timeSchem__action:nth-of-type(2) {
    /*  1024pxより大きい時 */
    top: 446px;
  }
}
.example--yusui .timeSchem__action:nth-of-type(2)::before {
  content: "";
  top: 8px;
  right: -47px;
  width: 40px;
  height: 2px;
  background-color: #3A61BD;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .example--yusui .timeSchem__action:nth-of-type(2)::before {
    /*  1024pxより大きい時 */
    content: "";
    width: 150px;
    height: 73px;
    top: -63px;
    right: -163px;
    background-image: url("../../assets/img/timeshem_kaku.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
  }
}
.example--yusui .timeSchem__action:nth-of-type(3) {
  top: 557px;
}
@media screen and (min-width: 1024px) {
  .example--yusui .timeSchem__action:nth-of-type(3) {
    /*  1024pxより大きい時 */
    top: 558px;
  }
}
.example--yusui .timeSchem__action:nth-of-type(3)::before {
  content: "";
  top: 8px;
  right: -47px;
  width: 40px;
  height: 2px;
  background-color: #3A61BD;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .example--yusui .timeSchem__action:nth-of-type(3)::before {
    /*  1024pxより大きい時 */
    right: -162px;
    width: 150px;
  }
}
.example--yusui .timeSchem__action:nth-of-type(4) {
  top: 605px;
}
.example--yusui .timeSchem__action:nth-of-type(4)::before {
  content: "";
  top: 8px;
  right: -47px;
  width: 40px;
  height: 2px;
  background-color: #3A61BD;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .example--yusui .timeSchem__action:nth-of-type(4)::before {
    /*  1024pxより大きい時 */
    right: -162px;
    width: 150px;
  }
}
.example--yusui .timeSchem__action:nth-of-type(5) {
  top: 882px;
}
.example--yusui .timeSchem__action:nth-of-type(5)::before {
  content: "";
  top: 8px;
  right: -47px;
  width: 40px;
  height: 2px;
  background-color: #3A61BD;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .example--yusui .timeSchem__action:nth-of-type(5)::before {
    /*  1024pxより大きい時 */
    right: -162px;
    width: 150px;
  }
}

.example--misato .timeSchem__image {
  transform: translateX(-10px);
}
@media screen and (min-width: 1024px) {
  .example--misato .timeSchem__image {
    /*  1024pxより大きい時 */
    transform: translateX(10px);
  }
}
.example--misato .timeSchem__image--position1 {
  position: absolute;
  top: 420px;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .example--misato .timeSchem__image--position1 {
    /*  1024pxより大きい時 */
    top: 410px;
  }
}
.example--misato .timeSchem__action {
  position: absolute;
  color: #C74A20;
  left: 20px;
}
@media screen and (min-width: 1024px) {
  .example--misato .timeSchem__action {
    /*  1024pxより大きい時 */
    left: 57px;
  }
}
.example--misato .timeSchem__action:nth-of-type(1) {
  top: 282px;
}
.example--misato .timeSchem__action:nth-of-type(1)::before {
  content: "";
  top: 8px;
  left: -45px;
  width: 40px;
  height: 2px;
  background-color: #C74A20;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .example--misato .timeSchem__action:nth-of-type(1)::before {
    /*  1024pxより大きい時 */
    left: -162px;
    width: 150px;
  }
}
.example--misato .timeSchem__action:nth-of-type(2) {
  top: 650px;
}
@media screen and (min-width: 1024px) {
  .example--misato .timeSchem__action:nth-of-type(2) {
    /*  1024pxより大きい時 */
    top: 651px;
  }
}
.example--misato .timeSchem__action:nth-of-type(2)::before {
  content: "";
  top: 8px;
  left: -45px;
  width: 40px;
  height: 2px;
  background-color: #C74A20;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .example--misato .timeSchem__action:nth-of-type(2)::before {
    /*  1024pxより大きい時 */
    left: -162px;
    width: 150px;
  }
}
.example--misato .timeSchem__action:nth-of-type(3) {
  top: 696px;
}
.example--misato .timeSchem__action:nth-of-type(3)::before {
  content: "";
  top: 8px;
  left: -45px;
  width: 40px;
  height: 2px;
  background-color: #C74A20;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .example--misato .timeSchem__action:nth-of-type(3)::before {
    /*  1024pxより大きい時 */
    left: -162px;
    width: 150px;
  }
}
.example--misato .timeSchem__action:nth-of-type(4) {
  top: 835px;
}
.example--misato .timeSchem__action:nth-of-type(4)::before {
  content: "";
  top: 8px;
  left: -45px;
  width: 40px;
  height: 2px;
  background-color: #C74A20;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .example--misato .timeSchem__action:nth-of-type(4)::before {
    /*  1024pxより大きい時 */
    left: -162px;
    width: 150px;
  }
}

/*---------
受講生二人の声
----------*/
.howToAsk__voiceCardsWrap {
  margin-top: 60px;
  padding-bottom: 80px;
}
@media screen and (min-width: 1024px) {
  .howToAsk__voiceCardsWrap {
    /*  1024pxより大きい時 */
    margin-top: 130px;
    padding-bottom: 136px;
    display: flex;
    justify-content: center;
    column-gap: 45px;
  }
}

.voiceCard {
  position: relative;
  max-width: 342px;
  margin: 0 auto;
  border-radius: 6px;
  border: 2px solid white;
}
@media screen and (min-width: 1024px) {
  .voiceCard {
    /*  1024pxより大きい時 */
    max-width: none;
    width: 342px;
    margin: 0;
  }
}
.voiceCard__text {
  padding: 54px 28px 58px;
  color: white;
  line-height: 1.5;
}

.voiceCard:nth-of-type(2) {
  margin-top: 66px;
}
@media screen and (min-width: 1024px) {
  .voiceCard:nth-of-type(2) {
    /*  1024pxより大きい時 */
    margin-top: 0;
  }
}

.voiceCard--yusui::before {
  content: "";
  position: absolute;
  width: 87px;
  height: 87px;
  background-image: url("../../assets/img/yusui.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.voiceCard--misato::before {
  content: "";
  position: absolute;
  width: 87px;
  height: 87px;
  background-image: url("../../assets/img/misato.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner {
  background-color: #324658;
}
.banner__title {
  padding-top: 70px;
  font-size: 19px;
  color: #fff;
  text-align: center;
}
.banner img {
  display: block;
  width: 50%;
  margin: 40px auto 0;
}

.footer {
  padding: 80px 0;
  background-color: #324658;
}
.footer__text {
  color: white;
  text-align: center;
}

/*====================
  mixin
====================*/
/*====================
  layout
====================*/
/*====================
  base
====================*/
/*====================
  various
====================*/
/*====================
  animation
====================*/
/*====================
  page
====================*/

/*# sourceMappingURL=style.css.map */
